body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

/* #calendar {

} */